.rectangle {
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 300px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.one {
  background-color: aquamarine;
}

.two {
  background-color: beige
}

.three {
  background-color: cornflowerblue;
}

.four {
  background-color: lightcoral;
}

.five {
  background-color: powderblue;
}

.outlet-one {
  background-color: orange;
}

.outlet-two {
  background-color: violet;
}