<div class="rectangle one">
  <span>RectangleOne</span>
  <div class="rectangle two">
    <span>RectangeTwo</span>
    <div class="rectangle three" *riftContent>
      <span>RectangeThree</span>
      <div class="rectangle four">
        <span>RectangeFour</span>
        <div class="rectangle five" *riftContent="'outletTwo'">
          RectangleFive
        </div>
      </div>
    </div>
  </div>
</div>

<div>RectangleThree is displayed inside RiftOutletOne even though it is defined as a child of RectangeTwo</div>

<div class="rectangle outlet-one">
  <span>RiftOutletOne</span>
  <rift-outlet></rift-outlet>
</div>

<div>RectangleFive is displayed inside RiftOutletTwo even though it is defined as a child of RectangeFour</div>

<div class="rectangle outlet-two">
  <span>RiftOutletTwo</span>
  <rift-outlet name="outletTwo"></rift-outlet>
</div>